.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  flex-grow: 1;
}


.header {
  background-color: tomato;
  height: 60px;
}

.nav {
  background-color: coral;
  width: 200px;
  flex-shrink: 0;
  .parentNav, .childNav{
    margin: 10px;
    padding: 10px;
    margin-right: 0;
    padding-right: 0;
  }
}

.activeNavLink > a{
  border: 1px solid #fff;
}
.main {
  background-color: moccasin;
  flex-grow: 1;
  width:500px;
}

.aside {
  background-color: sandybrown;
  width: 100px;
  flex-shrink: 0;
}

.footer {
  background-color: slategray;
  height: 100px;
}